<h2>ROMANCE</h2>
<div class="home" *ngIf="romances" style="margin:0;">
  <div *ngFor="let romance of romances" class="row mx-0" style="width: 100%">
    <div *ngFor="let item of romance.items" class="col-3 columna animated zoomIn" style="text-align:center;">
      <div class="columnahija" style="border:1px solid black" routerLink='/detail/{{item.id}}' style="cursor:pointer">
        <img src="{{item.volumeInfo.imageLinks.smallThumbnail}}">
        <h5>{{item.volumeInfo.title}}</h5>
        <p>{{item.volumeInfo.authors}}</p>
      </div>
    </div>
    <div *ngIf="loading == false" class="verMas">
      <button routerLink="/romance">VER MAS</button>
    </div>
  </div>
</div>


<div class="row" style="margin-left: 0px; margin-right: 0px;">
  <div class="col" style="padding: 0;">
    <h2>COMEDIA</h2>
    <div class="home" *ngIf="comedias">
      <div *ngFor="let comedia of comedias" class="row mx-0" style="width: 100% ;margin:0;">
        <div *ngFor="let item of comedia.items" class="col-6 columna" style="text-align:center;">
          <div class="columnahija" style="border:1px solid black" routerLink='/detail/{{item.id}}'
            style="cursor:pointer">
            <img src="{{item.volumeInfo.imageLinks.smallThumbnail}}">
            <h5>{{item.volumeInfo.title}}</h5>
            <p>{{item.volumeInfo.authors}}</p>
          </div>
        </div>
        <div *ngIf="loading == false" class="verMas">
          <button routerLink="/comedia">VER MAS</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="padding: 0;">
    <h2>FICCION</h2>
    <div class="home" *ngIf="ficcion">
      <div *ngFor="let ficc of ficcion" class="row mx-0" style="width: 100%">
        <div *ngFor="let item of ficc.items" class="col-6 columna" style="text-align:center;">
          <div class="columnahija" style="border:1px solid black" routerLink='/detail/{{item.id}}'
            style="cursor:pointer">
            <img src="{{item.volumeInfo.imageLinks.smallThumbnail}}">
            <h5>{{item.volumeInfo.title}}</h5>
            <p>{{item.volumeInfo.authors}}</p>
          </div>
        </div>
        <div *ngIf="loading == false" class="verMas">
          <button routerLink="/ficcion">VER MAS</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading" *ngIf="loading">
  <img src="../../assets/images/cargando.gif">
</div>